body{
    background: black;
    margin: 0;
}
.instafull{
    background: white;
    height: 580px;
    width: 440px;
    margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header{
    padding: 10px;
}
span{
    display: inline-block;
}
.html-logo{
    width: 25px;
    height: 25px;
}
.p1{
    margin: 0px;
    padding: 0px;;
}
.p2{
    margin: 0px;
    padding: 0px;
}
.menudots{
    float: right;
    padding: 5px;
}
.pic{
    position: relative;
    width: 100%;
    height: 300px;
}
.bookmark{
    float: right;
    padding: 15px 20px;
}
.logosin{
    padding: 15px 5px;
}
.heart{
    padding: 15px 5px 15px 15px;
}
.footer{
    padding: 0px 10px;
}